/****************************************************************************/
/* CSS for vespa.corp.yahoo.com                                             */
/*                                                                          */
/* Version:   2012-09-07                                                    */
/* Author:    Eirik Refsdal <eirikref@yahoo-inc.com>                        */
/* Copyright: Yahoo! Inc. 2008-2012                                         */
/****************************************************************************/
.yui-d3f {
  width: 974px;
  margin: auto; }

.yui-d0 {
  padding: 0 10px; }

.vc-link {
  color: #08c;
  text-decoration: none;
  cursor: pointer;
  cursor: hand; }
  .vc-link:hover {
    text-decoration: underline; }

.nobreak {
  white-space: nowrap; }

/****************************************************************************/
/* Header                                                                   */
/****************************************************************************/
#vc-hd-top {
  padding-top: 8px; }
  #vc-hd-top #vc-hd-toplinks {
    background-color: transparent;
    text-align: right;
    font-size: 11px;
    padding: 0; }
    #vc-hd-top #vc-hd-toplinks #vc-hd-optionsmenu {
      border: 1px solid #777;
      width: 200px;
      float: right;
      text-align: left;
      padding: 8px;
      background-color: #fff;
      z-index: 10;
      display: none;
      top: 0px;
      position: relative; }
  #vc-hd-top #vc-hd-form {
    margin-top: 4px;
    font-size: 16px; }
    #vc-hd-top #vc-hd-form form {
      margin: 0; }
      #vc-hd-top #vc-hd-form form input[type="text"] {
        width: 265px;
        padding: 2px;
        margin: 0; }

#hd-sub {
  margin-top: 10px;
  background-color: #f5f5f5;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee; }
  #hd-sub #hd-sub-Content {
    color: #000;
    font-size: 100%;
    text-align: left;
    padding: 6px 0; }
    #hd-sub #hd-sub-Content a {
      margin-right: 15px; }
      #hd-sub #hd-sub-Content a:visited {
        color: #006CA2; }

#vc-hd-breadcrumbs {
  margin-top: 6px;
  margin-bottom: 12px;
  font-size: 77%;
  color: #999; }
  #vc-hd-breadcrumbs a {
    color: #777; }
    #vc-hd-breadcrumbs a:visited {
      color: #777; }

/****************************************************************************/
/* Footer                                                                   */
/****************************************************************************/
#ft {
  border-top: 6px solid #eee;
  background-color: #f5f5f5;
  margin-top: 3em;
  font-size: 12px;
  padding-bottom: 15px;
  color: #666;
  margin-bottom: 0;
  clear: both;
  line-height: 18px; }
  #ft h2 {
    font-size: 22px;
    margin: 0;
    color: #575757;
    line-height: 28px; }
  #ft ul {
    margin-top: 5px;
    margin-left: 20px; }
    #ft ul li {
      line-height: 18px;
      color: #333; }
      #ft ul li a {
        text-decoration: none; }
        #ft ul li a:hover {
          text-decoration: underline; }
  #ft #ftContent {
    text-align: left;
    padding: 10px 0 10px 0; }
  #ft #ft-legal {
    margin-top: 25px;
    font-size: 11px;
    color: #666;
    line-height: 14px; }

/****************************************************************************/
/* Body                                                                     */
/****************************************************************************/
#vc-bd .sidebox {
  width: 25%;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  #vc-bd .sidebox h2 {
    margin-top: 25px;
    font-size: 22px;
    line-height: 28px; }
    #vc-bd .sidebox h2:first-child {
      margin-top: 0; }
#vc-bd .main-content {
  margin-right: 29%; }
#vc-bd .hero-unit {
  padding: 30px; }
  #vc-bd .hero-unit h1 {
    font-size: 40px; }
  #vc-bd .hero-unit .bodycopy {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding-top: 15px;
    font-weight: normal;
    color: #888;
    letter-spacing: -0.03em;
    font-style: italic; }
    #vc-bd .hero-unit .bodycopy p {
      font-weight: normal;
      line-height: 24px; }
      #vc-bd .hero-unit .bodycopy p:first-child {
        padding-top: 0;
        margin-top: 0; }
      #vc-bd .hero-unit .bodycopy p:last-child {
        padding-bottom: 0;
        margin-bottom: 0; }
#vc-bd .page-header {
  margin-top: 50px;
  padding-bottom: 4px;
  margin-bottom: 20px; }
  #vc-bd .page-header h2 {
    line-height: 36px;
    margin: 4px 0; }
#vc-bd .thumbnails .thumbnail:hover {
  background-color: #f5f5f5; }
  #vc-bd .thumbnails .thumbnail:hover a {
    text-decoration: none; }
#vc-bd .thumbnails .thumbnail img {
  width: 100%; }
#vc-bd .thumbnails .thumbnail h3 {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0; }

/****************************************************************************/
/* Frontpage                                                                */
/****************************************************************************/
/****************************************************************************/
/* Demos                                                                    */
/****************************************************************************/
#vc-demotoc .thumbnails .thumbnail img {
  height: 207px;
  width: 207px; }
#vc-demotoc .thumbnails .thumbnail .caption {
  padding-top: 18px; }

/****************************************************************************/
/* Documentation                                                            */
/****************************************************************************/
#doc-frontpage #other-releases {
  margin-top: -10px; }
  #doc-frontpage #other-releases h5 {
    margin-top: 0;
    margin-bottom: 4px; }
  #doc-frontpage #other-releases p {
    margin: 0; }

/****************************************************************************/
/* Release                                                                  */
/****************************************************************************/
#release #majorchanges li, #changelog #majorchanges li {
  margin: 0 0 0 10px !important;
  overflow: display; }
  #release #majorchanges li code, #changelog #majorchanges li code {
    line-height: 14px; }
  #release #majorchanges li .url, #changelog #majorchanges li .url {
    font-size: 12px;
    color: #999; }
    #release #majorchanges li .url a, #changelog #majorchanges li .url a {
      color: #999; }
#release .vc-apichanges-item dd, #changelog .vc-apichanges-item dd {
  margin-left: 20px;
  padding-bottom: 15px; }

#changelog ul.minor-changelog li {
  margin-bottom: 8px; }
  #changelog ul.minor-changelog li div {
    line-height: 18px; }
    #changelog ul.minor-changelog li div.vc-change-meta {
      padding-top: 0; }
      #changelog ul.minor-changelog li div.vc-change-meta p {
        margin: 0; }

#vc-releasebox table {
  border: 0;
  width: 100%; }
  #vc-releasebox table tr {
    border: 0; }
    #vc-releasebox table tr td {
      width: 50%;
      border: 0;
      vertical-align: top; }
      #vc-releasebox table tr td h3 {
        font-size: 14px;
        line-height: 20px;
        margin: 0; }
#vc-releasebox ul {
  padding: 0;
  margin: 0;
  list-style: none; }

/****************************************************************************/
/* Table of contents                                                        */
/****************************************************************************/
#toc #vc-toc-control {
  line-height: 18px;
  float: right;
  margin-bottom: -18px;
  position: relative;
  top: -26px;
  font-size: 12px; }
#toc .vc-toc-chaphead-arrow {
  float: right;
  padding: 2px 4px 0 0; }
#toc .vc-toc-num {
  text-align: right;
  min-width: 30px;
  float: left;
  display: block; }
#toc #vc-doc-toc-show, #toc #vc-doc-toc-hide {
  padding-top: 2px;
  padding-right: 4px; }
#toc .column1 {
  float: left; }
#toc .column2 {
  margin-left: 50%; }
#toc h3, #toc h4, #toc h5 {
  margin: 0;
  padding: 0;
  padding-bottom: 0.1em;
  margin-bottom: 0.1em; }
#toc h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 0.3em;
  margin-bottom: 0.3em;
  background-color: #f4f4f4;
  padding: 2px 6px;
  cursor: hand;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  #toc h2 img {
    position: relative;
    top: 6px; }
#toc h3 {
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 0px dashed #ddd; }
#toc ol, #toc ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style-position: outside;
  padding-left: 0;
  margin-left: 0.8em; }
#toc li {
  padding-left: 0; }
#toc .chapter {
  padding-top: 2.5em;
  padding-top: 0em;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  clear: both; }
  #toc .chapter > .content {
    margin-top: 1.2em;
    margin-left: 1.5em;
    margin-bottom: 2.5em; }
#toc .section {
  margin-left: 0;
  padding-top: 1.5em; }
#toc .subsection {
  margin-left: 1.5em;
  padding-top: 1.5em; }
#toc .section .content, #toc .subsection .content, #toc .subsubsection .content {
  padding: 0 0 0 1em; }

/****************************************************************************/
/* Documentation articles                                                   */
/****************************************************************************/
#vc-article #vc-article-header {
  height: 40px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  position: relative;
  top: -22px;
  margin-bottom: 10px;
  line-height: 1.4; }
  #vc-article #vc-article-header span {
    float: right;
    padding-left: 25px; }
  #vc-article #vc-article-header .vc-pageinfo-item {
    margin-left: 24px;
    padding-bottom: 8px; }
    #vc-article #vc-article-header .vc-pageinfo-item img {
      float: left;
      margin-left: -24px;
      margin-top: 3px; }
    #vc-article #vc-article-header .vc-pageinfo-item .vc-item-title {
      font-size: 108%;
      font-weight: normal;
      color: #000; }
    #vc-article #vc-article-header .vc-pageinfo-item .vc-item-subtitle {
      font-size: 85%;
      color: #777; }
      #vc-article #vc-article-header .vc-pageinfo-item .vc-item-subtitle a {
        color: #777; }
#vc-article #vc-article-footer {
  padding: 1em;
  background-color: #f3f3f3;
  margin-top: 3em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  #vc-article #vc-article-footer table {
    background-color: #f3f3f3;
    font-size: 100% !important;
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%; }
    #vc-article #vc-article-footer table tr {
      border: 0 !important; }
      #vc-article #vc-article-footer table tr td {
        vertical-align: top;
        width: 50%; }
#vc-article #vc-article-contents {
  /* Copying table styles from Bootstrap */ }
  #vc-article #vc-article-contents h1 {
    margin: 40px 0 20px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    font-size: 30px;
    line-height: 40px; }
  #vc-article #vc-article-contents h2 {
    font-size: 24px;
    line-height: 40px;
    margin-top: 30px; }
  #vc-article #vc-article-contents h3 {
    font-size: 18px;
    line-height: 20px;
    margin-top: 30px; }
  #vc-article #vc-article-contents h4 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 30px; }
  #vc-article #vc-article-contents h5 {
    font-size: 12px;
    line-height: 20px;
    margin-top: 30px; }
  #vc-article #vc-article-contents h6 {
    font-size: 10px;
    line-height: 20px;
    margin-top: 30px; }
  #vc-article #vc-article-contents h1.ref-param {
    background-color: #08c;
    padding: 4px 8px;
    line-height: 30px;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  #vc-article #vc-article-contents div.ref-param-container .commonAttrs {
    margin-left: 25px;
    margin-bottom: 25px; }
  #vc-article #vc-article-contents div.ref-param-container .none {
    margin-top: -10px; }
  #vc-article #vc-article-contents div.ref-param-container .example + .example {
    margin-top: 25px; }
  #vc-article #vc-article-contents div.ref-param-container table.param-summary td:first-child {
    font-weight: bold; }
  #vc-article #vc-article-contents div.ref-param-container ul.ref-param-attributes {
    list-style-type: none; }
    #vc-article #vc-article-contents div.ref-param-container ul.ref-param-attributes li {
      margin-bottom: 25px; }
      #vc-article #vc-article-contents div.ref-param-container ul.ref-param-attributes li h3 {
        margin-top: 0; }
      #vc-article #vc-article-contents div.ref-param-container ul.ref-param-attributes li.compact {
        margin-bottom: 0;
        list-style-type: disc;
        margin-left: 20px; }
    #vc-article #vc-article-contents div.ref-param-container ul.ref-param-attributes.compact {
      list-style-type: disc; }
      #vc-article #vc-article-contents div.ref-param-container ul.ref-param-attributes.compact li {
        margin: 0; }
      #vc-article #vc-article-contents div.ref-param-container ul.ref-param-attributes.compact h3 {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0; }
  #vc-article #vc-article-contents div.ref-param-container dl {
    /* background-color: #E5ECF3; */
    /* padding: 0.2em 0.4em; */
    /* margin-top: 0.3em; */
    /* border: 1px dotted #ccc; */ }
    #vc-article #vc-article-contents div.ref-param-container dl dt {
      font-weight: bold;
      text-decoration: none;
      float: left;
      width: 7.5em;
      margin: 0;
      padding: 0;
      border-bottom: 0px solid #ccc; }
    #vc-article #vc-article-contents div.ref-param-container dl dd.param-summary {
      margin: 0;
      padding: 0.1em;
      margin-left: 7.5em;
      border-bottom: 0px solid #ccc; }
      #vc-article #vc-article-contents div.ref-param-container dl dd.param-summary dl {
        margin: 0; }
      #vc-article #vc-article-contents div.ref-param-container dl dd.param-summary + dd {
        margin-top: 10px;
        margin-left: 7.5em; }
  #vc-article #vc-article-contents .required {
    color: #468847;
    font-weight: bold; }
  #vc-article #vc-article-contents code {
    padding: 2px 4px 1px 4px;
    color: #333; }
  #vc-article #vc-article-contents a code {
    color: #08c; }
  #vc-article #vc-article-contents a code:hover {
    color: #005580; }
  #vc-article #vc-article-contents td > a > code {
    border: 0;
    background-color: transparent; }
  #vc-article #vc-article-contents .ref-toc td:first-child {
    font-weight: bold; }
  #vc-article #vc-article-contents .ref-toc .indent-1 {
    padding-left: 2em; }
  #vc-article #vc-article-contents .ref-toc .indent-2 {
    padding-left: 4em; }
  #vc-article #vc-article-contents .ref-toc .indent-3 {
    padding-left: 6em; }
  #vc-article #vc-article-contents .ref-toc .indent-4 {
    padding-left: 8em; }
  #vc-article #vc-article-contents .ref-toc .indent-5 {
    padding-left: 10em; }
  #vc-article #vc-article-contents .ref-toc .indent-6 {
    padding-left: 12em; }
  #vc-article #vc-article-contents .ref-toc .indent-7 {
    padding-left: 14em; }
  #vc-article #vc-article-contents .ref-toc .indent-8 {
    padding-left: 16em; }
  #vc-article #vc-article-contents .ref-toc .indent-9 {
    padding-left: 18em; }
  #vc-article #vc-article-contents .ref-toc .indent-10 {
    padding-left: 20em; }
  #vc-article #vc-article-contents .ref-toc a {
    line-height: 18px;
    display: inline-block;
    padding-top: 2px; }
  #vc-article #vc-article-contents .ref-toc a:hover {
    color: #005580;
    text-decoration: underline !important; }
  #vc-article #vc-article-contents a.glossary {
    color: #008000; }
  #vc-article #vc-article-contents .ref-toc code {
    border: 0;
    background-color: transparent;
    display: inline-block;
    border: 0;
    padding: 0; }
  #vc-article #vc-article-contents .alert-success code {
    color: #468847;
    border: 1px solid #78A879;
    background-color: #EBF7E7;
    white-space: nowrap; }
  #vc-article #vc-article-contents figure {
    text-align: center; }
    #vc-article #vc-article-contents figure.latex > div {
      padding: 1em;
      border: 1px solid #eee;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
      #vc-article #vc-article-contents figure.latex > div .text {
        font-size: inherit; }
      #vc-article #vc-article-contents figure.latex > div .fraction {
        font-size: inherit; }
        #vc-article #vc-article-contents figure.latex > div .fraction .numerator {
          padding-bottom: 2px; }
        #vc-article #vc-article-contents figure.latex > div .fraction .denominator {
          padding-top: 3px;
          border-top: 0; }
    #vc-article #vc-article-contents figure figcaption {
      margin-top: 0.5em;
      font-style: italic; }
  #vc-article #vc-article-contents dl dd {
    margin-left: 20px;
    padding-bottom: 15px; }
  #vc-article #vc-article-contents dl.reference dt {
    background-color: #08c;
    padding: 4px 8px;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 20px; }
  #vc-article #vc-article-contents dl.reference dd {
    margin-left: 0; }
    #vc-article #vc-article-contents dl.reference dd h3 {
      margin-top: 20px;
      margin-bottom: 10px;
      border-bottom: 1px dotted #ccc;
      padding-bottom: 2px; }
  #vc-article #vc-article-contents table {
    max-width: 100%;
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0;
    /* .table */
    width: 100%;
    margin-bottom: 16px;
    /* .table-bordered */
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /* .table-striped */ }
    #vc-article #vc-article-contents table th, #vc-article #vc-article-contents table td {
      padding: 8px;
      line-height: 16px;
      text-align: left;
      vertical-align: top;
      border-top: 1px solid #dddddd; }
    #vc-article #vc-article-contents table th {
      font-weight: bold; }
    #vc-article #vc-article-contents table thead th {
      vertical-align: bottom; }
    #vc-article #vc-article-contents table caption + thead tr:first-child th,
    #vc-article #vc-article-contents table caption + thead tr:first-child td,
    #vc-article #vc-article-contents table colgroup + thead tr:first-child th,
    #vc-article #vc-article-contents table colgroup + thead tr:first-child td,
    #vc-article #vc-article-contents table thead:first-child tr:first-child th,
    #vc-article #vc-article-contents table thead:first-child tr:first-child td {
      border-top: 0; }
    #vc-article #vc-article-contents table tbody + tbody {
      border-top: 2px solid #dddddd; }
    #vc-article #vc-article-contents table th, #vc-article #vc-article-contents table td {
      border-left: 1px solid #dddddd; }
    #vc-article #vc-article-contents table caption + thead tr:first-child th,
    #vc-article #vc-article-contents table caption + tbody tr:first-child th,
    #vc-article #vc-article-contents table caption + tbody tr:first-child td,
    #vc-article #vc-article-contents table colgroup + thead tr:first-child th,
    #vc-article #vc-article-contents table colgroup + tbody tr:first-child th,
    #vc-article #vc-article-contents table colgroup + tbody tr:first-child td,
    #vc-article #vc-article-contents table thead:first-child tr:first-child th,
    #vc-article #vc-article-contents table tbody:first-child tr:first-child th,
    #vc-article #vc-article-contents table tbody:first-child tr:first-child td {
      border-top: 0; }
    #vc-article #vc-article-contents table thead:first-child tr:first-child th:first-child,
    #vc-article #vc-article-contents table tbody:first-child tr:first-child td:first-child {
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
      -moz-border-radius-topleft: 4px; }
    #vc-article #vc-article-contents table thead:first-child tr:first-child th:last-child,
    #vc-article #vc-article-contents table tbody:first-child tr:first-child td:last-child {
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      -moz-border-radius-topright: 4px; }
    #vc-article #vc-article-contents table thead:last-child tr:last-child th:first-child,
    #vc-article #vc-article-contents table tbody:last-child tr:last-child td:first-child,
    #vc-article #vc-article-contents table tfoot:last-child tr:last-child td:first-child {
      -webkit-border-radius: 0 0 0 4px;
      -moz-border-radius: 0 0 0 4px;
      border-radius: 0 0 0 4px;
      -webkit-border-bottom-left-radius: 4px;
      border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px; }
    #vc-article #vc-article-contents table thead:last-child tr:last-child th:last-child,
    #vc-article #vc-article-contents table tbody:last-child tr:last-child td:last-child,
    #vc-article #vc-article-contents table tfoot:last-child tr:last-child td:last-child {
      -webkit-border-bottom-right-radius: 4px;
      border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px; }
    #vc-article #vc-article-contents table caption + thead tr:first-child th:first-child,
    #vc-article #vc-article-contents table caption + tbody tr:first-child td:first-child,
    #vc-article #vc-article-contents table colgroup + thead tr:first-child th:first-child,
    #vc-article #vc-article-contents table colgroup + tbody tr:first-child td:first-child {
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
      -moz-border-radius-topleft: 4px; }
    #vc-article #vc-article-contents table caption + thead tr:first-child th:last-child,
    #vc-article #vc-article-contents table caption + tbody tr:first-child td:last-child,
    #vc-article #vc-article-contents table colgroup + thead tr:first-child th:last-child,
    #vc-article #vc-article-contents table colgroup + tbody tr:first-child td:last-child {
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      -moz-border-right-topleft: 4px; }
    #vc-article #vc-article-contents table tbody tr:nth-child(odd) td, #vc-article #vc-article-contents table tbody tr:nth-child(odd) th {
      background-color: #f9f9f9; }

#configdef-list ul {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3; }

table.configdef-table th {
  text-align: center; }
table.configdef-table tr td:first-child {
  font-weight: bold; }

table.configdef-header tr td:first-child {
  width: 8em;
  background-color: #08c;
  color: #fff; }

/* ---------------------------------------------- */
/* Search results                                 */
#serp {
  max-width: 974px; }
  #serp form {
    margin-bottom: 15px; }
  #serp .info {
    color: #666;
    font-size: 93%;
    padding-top: 2px; }
  #serp .refine h3 {
    padding-top: 16px;
    padding-bottom: 2px;
    margin-bottom: 0; }
  #serp .refinebox {
    border: 1px solid #c4d2ed;
    background-color: #E5ECF9;
    padding: 2px 8px;
    margin-bottom: 15px;
    width: 64%; }
  #serp .refine .showall {
    font-size: 93%;
    color: #777;
    text-decoration: none; }
    #serp .refine .showall:hover {
      text-decoration: underline; }
  #serp .queryForm {
    margin-bottom: 15px; }
  #serp table {
    width: auto;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0; }
    #serp table td {
      padding-left: 0;
      margin-left: 0;
      background: transparent;
      border: 0;
      padding-bottom: 0;
      margin-bottom: 0; }
      #serp table td.data {
        padding-left: 8px;
        padding-right: 48px; }
        #serp table td.data p {
          margin-top: 4px;
          margin-bottom: 0;
          padding-bottom: 0; }
  #serp .queryInput {
    width: 360px; }
  #serp .hit {
    margin: 0 0 20px 0;
    border: 0px solid #eee;
    padding: 0px; }
    #serp .hit img.hitFavorite {
      margin-left: -24px;
      float: left;
      position: relative;
      top: 1px; }
    #serp .hit .title {
      font-size: 123.1%; }
      #serp .hit .title a {
        color: #0000DE; }
    #serp .hit .subtitle {
      font-size: 85%;
      color: #777;
      margin: 2px 0 4px 0; }
    #serp .hit .body {
      padding-top: 2px;
      font-size: 100%; }
    #serp .hit .url {
      font-size: 92%;
      color: green;
      padding: 0;
      margin-top: 2px; }
    #serp .hit .footer {
      font-style: normal;
      font-size: 85%;
      color: #777;
      margin: 0;
      padding: 4px 0 0 0; }
      #serp .hit .footer a {
        color: #777;
        text-decoration: none; }
        #serp .hit .footer a:hover {
          text-decoration: underline; }
  #serp .error {
    background-color: #fff8d0;
    border: 1px solid #ffef94;
    padding: 16px;
    margin: 8px 0; }
  #serp dl {
    margin-left: 0;
    padding-left: 0; }
  #serp dt {
    font-size: 123.1% !important;
    padding-bottom: 0.2em;
    padding-top: 1em; }
  #serp dd {
    margin-left: 0;
    padding-left: 2em; }

/* ---------------------------------------------- */
/* Pager used on search results pages             */
#pager {
  margin-left: 24px;
  margin-top: 2em; }
  #pager a, #pager span {
    border: 1px solid #777;
    padding: 2px 7px; }
  #pager .selected, #pager a:hover, #pager span:hover {
    background-color: #777;
    color: #fff; }
  #pager a {
    text-decoration: none;
    color: #333; }
  #pager .disabled {
    border: 1px solid #ddd;
    color: #ccc;
    background-color: transparent;
    padding-left: 7px;
    padding-right: 7px; }
    #pager .disabled:hover {
      border: 1px solid #ddd;
      color: #ccc;
      background-color: transparent;
      padding-left: 7px;
      padding-right: 7px; }
  #pager li {
    display: inline;
    border: 1px solid #777;
    font-size: 100%;
    font-weight: bold;
    margin: 0px !important;
    padding: 2px 0px; }
    #pager li:hover {
      background-color: #777;
      color: #fff;
      border: 1px solid #777; }
    #pager li a {
      text-decoration: none;
      padding: 3px 7px;
      color: #000; }
      #pager li a:hover {
        color: #fff; }
    #pager li.selected {
      background-color: #777;
      color: #fff;
      border: 1px solid #777;
      padding-left: 7px;
      padding-right: 7px; }
      #pager li.selected:hover {
        background-color: #777;
        color: #fff;
        border: 1px solid #777;
        padding-left: 7px;
        padding-right: 7px; }
    #pager li.index {
      padding-left: 7px;
      padding-right: 7px;
      font-weight: normal;
      background-color: #eee;
      color: #666;
      border: 1px solid #ccc; }
      #pager li.index:hover {
        padding-left: 7px;
        padding-right: 7px;
        font-weight: normal;
        background-color: #eee;
        color: #666;
        border: 1px solid #ccc; }

/* The release info side content box */
/*                                   */
/*
#releaseinfo a {
    color: #000;
    text-decoration: none;
    &:visited {
        color: #000;
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
}
*/
/* ---------------------------------------------- */
/* Tables                                         */
/*
table {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 93%;
    th {
        border: 0px solid #ccc;
        background-color: #ddd;
        color: #000;
        text-align: left;
        font-face: bold;
        white-space: no-wrap;
    }
    td {
        border: 0;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        vertical-align: top;
    }
}

.docArticle table td:first-child {
    font-weight: bold;
}

table {
    &.noborder {
        border: 0 !important;
        tr, th, td, tbody, thead {
            border: 0 !important;
        }
    }
    &.compact {
        tr, td {
            padding: 0;
        }
    }
    &.semicompact {
        tr, td {
            padding: 2px;
        }
    }
}

th.left, tr.left td, td.left {
    text-align: left !important;
}

th.center, tr.center td, td.center {
    text-align: center !important;
}

th.right, tr.right td, td.right {
    text-align: right !important;
}
*/
/* ---------------------------------------------- */
/* Vespa Users Archive                            */
.msg {
  margin-bottom: 1em;
  border: 1px solid #ddd;
  padding: 1px;
  margin-top: 1em; }
  .msg .head {
    background-color: #eee;
    padding: 8px;
    margin-bottom: 1px; }
    .msg .head table, .msg .head tr {
      border: 0;
      padding: 0;
      margin: 0; }
    .msg .head td {
      border: 0;
      padding: 0;
      margin: 0;
      vertical-align: top; }
      .msg .head td.image {
        width: 65px; }
        .msg .head td.image img {
          border: 1px solid #bbb; }
      .msg .head td.info .author {
        font-size: 131%;
        font-weight: bold;
        color: #444; }
      .msg .head td.info > div {
        font-size: 100%;
        color: #999; }
      .msg .head td.info a {
        text-decoration: none; }
        .msg .head td.info a:hover {
          text-decoration: underline; }
      .msg .head td.action {
        text-align: right;
        vertical-align: bottom; }
        .msg .head td.action div {
          font-size: 92%;
          padding-top: 4px; }
  .msg .body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 116%;
    padding: 10px 10px 1px 10px;
    border: 0; }

/* ---------------------------------------------- */
/* vespa-users message head                       */
/*
#demoTitle {
    display: none;
}

#doc2 {
    border: 0px solid red;
}

.button {
    margin: 10px 0;
    font-size: 116%;
    font-weight: bold;
}

.searchBox.vespausers {
    margin-bottom: 2em;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 8px;
}

.box.vespausers {
    .queryInput {
        width: 360px;
    }
    .body {
        padding: 16px 8px;
    }
}

.searchBoxBig input[type="text"] {
    width: 300px;
}
*/
/* .querySubmit { */
/*    padding: 0 4px; */
/* } */
/*
.queryInput {
    padding: 2px 0;
}

.vc-search-inline .queryInput {
    width: 350px;
}

.searchBoxInline {
    margin: 1em 0;
}

#resultSummary {
    border: 1px solid #ddd;
    background-color: #e3e3e3;
    padding: 0.5em;
    -moz-border-radius: 0.2em;
}

.noborder {
    border: 0 !important;
}

.summaryCount {
    color: #666;
}
*/
.versionList {
  border: 0;
  width: 100%; }
  .versionList td {
    border: 0;
    border-top: 1px solid #d3d3d3; }

.vlVer {
  font-weight: bold;
  width: 20%; }

.vlDate, .vlStatus {
  width: 30%; }

.vc-dlink {
  cursor: pointer;
  cursor: hand; }

.vc-dummylink {
  color: #006CA2;
  text-decoration: none; }

.hidden {
  display: none; }

.discrete {
  color: #999;
  text-decoration: none; }
  .discrete:hover {
    color: blue;
    text-decoration: underline; }

table#demolist {
  border: 0px;
  font-size: 100%; }
  table#demolist tr {
    border: 0px;
    font-size: 100%; }
  table#demolist td {
    border: 0px;
    font-size: 100%;
    padding-bottom: 2em; }

.demoitem {
  clear: both;
  margin-bottom: 3em; }

.demoimage {
  float: right; }

.demoitem img {
  border: 1px solid #666;
  float: left;
  margin: 0 0px 15px 15px;
  position: relative;
  top: 5px; }
.demoitem h2 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0.2em; }
  .demoitem h2 a {
    color: #2288BB;
    text-decoration: none; }
.demoitem .abstract {
  margin-bottom: 0.5em; }

.demoInfoBox {
  width: 240px;
  float: right;
  margin: 0 0 15px 15px;
  border: 0px solid #ddd; }

.demoInfo {
  padding: 4px; }
  .demoInfo h3 {
    padding-top: 0;
    margin-top: 0;
    border: 0; }

.demoInfoBox img {
  border: 1px solid #ccc; }
.demoInfoBox table * {
  vertical-align: top;
  border: 0;
  padding-left: 0;
  margin-left: 0;
  padding-bottom: 0; }

#resultTitle {
  color: #777;
  font-size: 91%;
  padding-top: 3px; }

#abstract {
  font-size: 108%; }

/*
p, div {
    line-height: 150%;
}
*/
.imageText {
  font-size: 93%;
  color: #333;
  padding: 5px 0;
  font-style: italic; }

.tutorial {
  margin-bottom: 25px; }

.tut-image {
  width: 340px;
  height: 70px;
  border: 1px solid #666; }

.tut-header {
  margin-top: 10px;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0; }

.tut-link {
  margin-top: 5px;
  font-weight: bold; }

.mailQuote, .mailOrigMsg {
  margin-left: 5px;
  padding-left: 10px;
  border-left: 3px solid #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #777;
  display: none; }

.mailSignature {
  color: #777;
  font-style: italic; }

.msgEditDiv {
  display: none; }

.msgBodyEditContent {
  width: 100%;
  height: 200px; }

.msg pre {
  font-size: 85%; }

.notice {
  padding: 16px 8px;
  font-family: arial, helvetica, clean, sans-serif; }
  .notice:before {
    content: "";
    background: url(/images/warning-16px.png) center left no-repeat;
    padding-right: 24px; }

.supportSection {
  padding-left: 64px; }

.supportHeadImage {
  position: relative;
  left: -84px;
  float: left; }

.readmore {
  text-align: right;
  margin-top: 0; }

#resultset .hitNo {
  display: none; }

.hitDebug {
  padding-top: 0.2em;
  color: #666;
  font-size: 93%; }

.hit .header {
  font-size: 131%; }
.hit .summary {
  margin-top: 0.2em; }

.hitTable {
  border: 0;
  padding-bottom: 0;
  margin-bottom: 0; }
  .hitTable * {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0; }
  .hitTable td {
    vertical-align: top; }

.hitSummary {
  width: 70%;
  padding-right: 10px;
  padding-left: 0; }

.hitInfo {
  width: 30%;
  color: #777;
  font-size: 83%; }

.hi {
  font-weight: bold; }

.debug {
  background-color: #fff9d3;
  border: 1px solid #fff19c;
  padding: 8px;
  margin: 15px 0; }

.removeVersion, .removeTag {
  cursor: pointer;
  cursor: hand; }

#tagInput {
  width: 120px; }

.notInIndex {
  color: red !important; }
  .notInIndex * {
    color: red !important; }

/*                     */
/* Mail Administration */
#mailAdmin {
  position: relative; }
  #mailAdmin .menu {
    font-size: 108%;
    padding-bottom: 8px;
    border-bottom: 0px solid #eee;
    margin-bottom: 16px; }
    #mailAdmin .menu .active {
      font-weight: bold; }
    #mailAdmin .menu img {
      position: relative;
      top: 2px; }
    #mailAdmin .menu span {
      padding: 4px 8px 4px 4px;
      border: 1px solid #ddd;
      -moz-border-radius: 1px;
      margin-right: 4px; }
      #mailAdmin .menu span:hover, #mailAdmin .menu span.active {
        cursor: pointer;
        cursor: hand;
        background-color: #f3f3f3; }
  #mailAdmin textarea {
    width: 100%;
    height: 370px;
    margin-bottom: 8px; }
  #mailAdmin table tr td:first-child {
    font-weight: bold; }

#ma-status {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: red;
  font-weight: bold; }

.queryForm .helptext {
  font-size: 12px;
  color: #777;
  padding-top: 3px;
  width: 326px; }

.ingress {
  margin-top: 0 !important;
  font-size: 116%;
  line-height: 1.2;
  /* font-family: Georgia, Arial, serif; */
  padding-top: 0 !important;
  margin-bottom: 1.5em; }

/* ---------------------------------------------- */
/* Mail Toolbar                                   */
#vc-mt {
  margin-bottom: 15px; }

#vc-mt-years {
  font-size: 100%;
  margin-bottom: 6px; }
  #vc-mt-years span {
    margin-right: 4px;
    text-decoration: none;
    font-weight: bold; }
    #vc-mt-years span:hover {
      text-decoration: underline; }
    #vc-mt-years span.selected {
      font-weight: bold; }
      #vc-mt-years span.selected:hover {
        text-decoration: none; }

.vc-mt-monsel {
  font-size: 85%; }
  .vc-mt-monsel .disabled {
    color: #ccc; }
  .vc-mt-monsel span {
    margin-right: 2px; }

#vc-mt .queryInput {
  width: 200px; }
#vc-mt .selected {
  color: #DD5500 !important;
  font-weight: bold;
  background: transparent url("/images/bg_live.gif") no-repeat scroll center bottom;
  padding-bottom: 6px; }
#vc-mt .vc-mt-year.selected {
  padding-bottom: 4px; }
#vc-mt .selected a {
  color: #DD5500 !important;
  font-weight: bold; }
  #vc-mt .selected a:hover {
    text-decoration: none; }
#vc-mt a:visited {
  color: #006CA2; }

.vc-msg-header {
  background-color: #eee;
  padding: 6px;
  margin-bottom: 4px;
  border: 1px solid #ddd; }

.vc-msg-body {
  padding: 6px; }
  .vc-msg-body pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    margin: 0;
    background-color: transparent;
    line-height: 1.3;
    font-family: monospace;
    font-size: 12px;
    padding: 0; }

.vc-msg-photo {
  width: 48px;
  height: 48px; }

.vc-msg-header table {
  border: 0;
  padding: 0;
  margin: 0; }
  .vc-msg-header table tr, .vc-msg-header table td {
    border: 0;
    padding: 0;
    margin: 0; }

.vc-msgtab-photo {
  width: 65px; }

.vc-msgtab-admin {
  text-align: right; }

.vc-message {
  margin-bottom: 4em; }
  .vc-message .vc-msg-body {
    width: 74% !important; }
  .vc-message pre {
    margin-top: 0;
    border: 0;
    background-color: transparent;
    padding: 4px;
    line-height: 1.2;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */ }

.vc-message-header {
  background-color: #f3f3f3;
  padding: 4px; }

.vc-message-info {
  float: left;
  width: 56px;
  font-size: 85%;
  color: #999; }
  .vc-message-info a {
    color: #999;
    text-decoration: none; }
    .vc-message-info a:visited {
      color: #999;
      text-decoration: none; }
    .vc-message-info a:hover {
      color: #006CA2;
      text-decoration: underline; }

.vc-message-body {
  margin-left: 56px;
  padding-left: 8px; }

.vc-message-image {
  width: 48px;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  border: 1px solid #ddd;
  padding: 2px; }

.vc-user-vespateam img {
  border: 0; }

.vc-message-body-header {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee; }

.vc-user-photo {
  width: 48px;
  margin: 0;
  padding: 0; }

.msgZ .msgBodyHeader .author {
  font-size: 116%;
  font-weight: bold; }
.msgZ .msgBodyHeader .date {
  font-size: 85%;
  color: #999; }
.msgZ .msgBodyHeader .editBar {
  font-size: 85%;
  color: #999;
  float: right; }

.vc-layout-selector {
  color: #777; }

.vc-layout-link {
  cursor: hand;
  cursor: pointer; }
  .vc-layout-link:hover {
    text-decoration: underline; }
  .vc-layout-link.active {
    cursor: default;
    text-decoration: underline; }

#vc-layoutIcon-def {
  background-image: url("/images/gui/layout_def.png");
  background-repeat: no-repeat; }
  #vc-layoutIcon-def.active, #vc-layoutIcon-def:hover {
    background-image: url("/images/gui/layout_def_hover.png");
    background-repeat: no-repeat; }

#vc-layoutIcon-full {
  background-image: url("/images/gui/layout_full.png");
  background-repeat: no-repeat; }
  #vc-layoutIcon-full.active, #vc-layoutIcon-full:hover {
    background-image: url("/images/gui/layout_full_hover.png");
    background-repeat: no-repeat; }

#vc-layoutIcon-ref {
  /* background-image: url('/images/layout_ref.png'); */
  background-repeat: no-repeat; }
  #vc-layoutIcon-ref.active, #vc-layoutIcon-ref:hover {
    /* background-image: url('/images/layout_ref_hover.png'); */
    background-repeat: no-repeat; }

/* ---------------------------------------------- */
/* Simple navigation                              */
.vc-simpleNav {
  background-color: #f3f3f3;
  padding: 6px;
  margin-bottom: 10px;
  border-bottom: 2px solid #eee; }
  .vc-simpleNav a:visited {
    color: #006CA2; }

/* ---------------------------------------------- */
/* Release List                                   */
table#vc-rellist {
  width: 100%; }

.vc-rellist-version, .vc-rellist-date, .vc-rellist-os, .vc-rellist-changelog {
  width: 25%; }

/* ---------------------------------------------- */
/* Release List                                   */
.vc-rightbox {
  width: 33%;
  max-width: 330px;
  float: right;
  margin-left: 1em !important; }

.vc-error {
  background-color: #ffdfdf; }

#vc-admin-doc th {
  border: 1px solid #999; }

#vc-debuginfo {
  border: 1px dotted #ccc;
  padding: 1em;
  padding-top: 0;
  margin-bottom: 15px; }

#vc-admin-releaselist td {
  width: 50%; }
#vc-admin-releaselist table {
  font-size: 100%;
  border: 0; }
  #vc-admin-releaselist table * {
    border: 0;
    padding: 8px 0; }
  #vc-admin-releaselist table td:first-child {
    width: 15%;
    font-weight: bold; }

#vc-bd-debug {
  display: none; }

#vc-relbox-footer {
  padding-top: 0px;
  font-size: 77%;
  text-align: left; }

ul.semicompact li {
  margin-bottom: 4px; }

table .width50 {
  width: 50%; }

.vc-tagbucket-1 {
  font-size: 85%; }
  .vc-tagbucket-1 a {
    color: #B5C4CF; }

.vc-tagbucket-2 {
  font-size: 93%; }
  .vc-tagbucket-2 a {
    color: #7898AF; }

.vc-tagbucket-3 {
  font-size: 100%; }
  .vc-tagbucket-3 a {
    color: #47708F; }

.vc-tagbucket-4 {
  font-size: 108%; }

.vc-tagbucket-5 {
  font-size: 116%;
  font-weight: bold; }

.vc-change-meta {
  font-size: 85%;
  color: #999;
  padding-top: 2px; }
  .vc-change-meta a {
    color: #105CB6;
    color: #999; }

li.vc-changeli-new, li.vc-majorli-new {
  /* list-style-image: url("/images/icon/plus_circle.png"); */ }
li.vc-majorli-deprecated {
  /* list-style-image: url("/images/icon/minus_circle.png"); */ }

.warning {
  padding: 1em;
  border: 5px solid #F19824;
  background-color: #F5CF71;
  margin: 1em 0;
  -webkit-border-radius: 0.6em; }

.label.warning {
  font-size: 77%;
  padding: 2px 4px !important;
  border-width: 2px !important;
  -webkit-border-radius: 2px;
  color: #000; }

.note {
  border-left: 20px solid #5A98CF;
  background-color: #f3f3f3;
  padding: 8px 8px 8px 16px;
  margin: 2em 0; }
  .note p {
    padding-top: 1em;
    margin: 0; }
    .note p:first-child {
      padding: 0; }

.vc-searchform-help {
  font-size: 93%;
  color: #777;
  margin-left: 7px;
  clear: both; }

#vc-frontpage-guide {
  border: 0; }
  #vc-frontpage-guide td {
    width: 50%;
    border: 0;
    margin: 0;
    padding: 0;
    padding-right: 10px; }
  #vc-frontpage-guide h3 {
    margin-top: 0.8em; }

.vc-msglist li:before {
  list-style-image: url("/images/msglist.png"); }
.vc-msglist .vc-details {
  font-size: 85%;
  color: #999; }

.vc-hidden {
  display: none; }

.vc-pref-item {
  border-left: 3px solid #eee;
  margin-left: 1em;
  padding: 0 0 0.5em 1em;
  margin-top: 10px;
  margin-bottom: 15px; }

.vc-fav-item {
  border-left: 3px solid #eee;
  margin-left: 1em;
  padding: 0 0 0.5em 1em;
  margin-top: 10px;
  margin-bottom: 15px; }
  .vc-fav-item h4 {
    margin-top: 10px; }

.vc-vu-list {
  position: relative;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc; }
  .vc-vu-list.small {
    font-size: 100%; }
    .vc-vu-list.small .vc-item {
      margin: 8px 0;
      padding-left: 20px;
      background: url("/images/icon_shadowless/mail_small.png") no-repeat 1px 1px; }
    .vc-vu-list.small .vc-item-date {
      color: #444;
      font-size: 95%;
      border-bottom: 1px solid #ccc;
      margin-top: 15px; }
  .vc-vu-list li {
    list-style-type: none;
    margin-left: 90px;
    border-top: 1px solid #ccc;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    padding-left: 0;
    color: #444; }
    .vc-vu-list li h4 {
      font-size: 116%;
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 2px; }
    .vc-vu-list li .vc-item-date {
      position: absolute;
      padding-top: 8px;
      padding-bottom: 2px;
      left: -90px;
      border-top: 1px solid #ccc;
      width: 90px;
      margin-top: 0;
      top: -1px;
      font-size: 93%;
      color: #777; }
    .vc-vu-list li .vc-item-body {
      font-size: 93%; }
    .vc-vu-list li .vc-item-footer {
      padding-top: 4px;
      font-size: 85%;
      display: none; }

.vc-vu-list-options {
  margin-bottom: 4px; }
  .vc-vu-list-options li {
    display: inline;
    margin-left: 0;
    padding-left: 0;
    margin-right: 4px;
    border-right: 1px solid #ccc;
    padding-right: 4px; }
  .vc-vu-list-options ul {
    margin: 0;
    padding: 0;
    font-size: 85%; }
  .vc-vu-list-options .vc-link {
    color: #999; }

.vc-no-border {
  border: 0 !important; }

#vc-search-fp {
  text-align: center;
  width: 570px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px; }

.vc-searchform {
  clear: both; }

.vc-search-inputcontainer {
  background: transparent url("/images/demo_sprites.png") no-repeat scroll 0 -11px;
  width: 421px;
  float: left;
  height: 24px;
  margin-right: 7px;
  padding: 6px 5px; }
  .vc-search-inputcontainer input[type="text"] {
    border: 0 none;
    height: 17px;
    padding: 3px 3px 4px;
    width: 414px; }

.vc-search-buttoncontainer {
  display: inline; }
  .vc-search-buttoncontainer input[type="button"], .vc-search-buttoncontainer input[type="submit"] {
    padding: 2px 5px;
    margin-top: 3px; }

.vc-serp-hitgroup {
  border-left: 0px solid #ddd;
  padding-left: 0px;
  margin-left: 0px; }

.vc-serp-hit {
  margin-bottom: 15px; }
  .vc-serp-hit h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-weight: normal;
    font-size: 131%; }
  .vc-serp-hit a {
    color: #0000CC;
    color: #105CB6;
    text-decoration: underline; }

.vc-serp-hit-body {
  color: #393733;
  overflow: hidden;
  font-size: 100%;
  width: 600px; }

.vc-serp-hit-meta {
  font-weight: bold; }

.vc-serp-hit-moreinfo {
  padding-top: 4px;
  color: #444;
  font-size: 85%;
  display: none;
  margin-left: 15px; }

.vc-serp-hit-url {
  margin-top: 2px;
  font-size: 85%;
  color: #008800;
  color: #7E9F6D;
  color: #658F50;
  text-decoration: none; }

.vc-serp-fpbox {
  clear: both; }

.vc-serp-fpbox-footer {
  font-size: 85%;
  padding-left: 10px; }
  .vc-serp-fpbox-footer a {
    color: #0000CC;
    text-decoration: underline; }

.vc-serp-fpbox-border {
  border-right: 1px solid #c9d7f1; }

.vc-serp-fpbox h2 {
  margin-bottom: 0.7em; }

#vc-gui-releasebox {
  float: right;
  width: 29.7%;
  text-align: left;
  position: relative;
  top: -15px;
  right: 0;
  margin-left: 15px;
  z-index: 10;
  display: block;
  font-size: 93%; }
  #vc-gui-releasebox a:visited {
    color: #2288BB; }
  #vc-gui-releasebox input[type="text"] {
    padding: 2px; }
  #vc-gui-releasebox ul {
    margin: 4px 0 0 17px; }
  #vc-gui-releasebox li {
    float: left;
    margin-left: 5px;
    padding-left: 0;
    list-style-type: square; }

#vc-relbox-search {
  clear: both;
  padding-top: 10px; }

/*
#vc-article {
    font-family: Arial, sans-serif;
    font-size: 100%;
    a {
        text-decoration: underline;
    }
}
*/
  /*
#vc-article-toc {
    float: right;
    width: 260px;
    background-color: #f3f3f3;
    padding: 8px;
    font-size: 85%;
    margin-left: 15px;
    min-width: 150px;
    right: 0px;
    top: 0;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
  /* clear: both; */
/* position: absolute; */
/*
    h3 {
        margin-top: 0;
    }
    ul, ol {
        margin: 0 0 0 1.8em;
    }
    li {
        margin-left: 0;
        list-style-type: decimal;
    }
}
*/
/*
ul.vc-article-toc-sub {
    margin: 0 0 0.4em 1.3em !important;
}

.vc-article-toc-sub li {
    list-style-type: disc !important;
    margin-left: 0em !important;
}
*/
.vc-article-bottombox li {
  color: #777;
  list-style-type: disc; }
.vc-article-bottombox h4 {
  margin-top: 0;
  padding-top: 0;
  font-size: 100%; }

/*
#vc-article {
    table {
        font-size: 85%;
        line-height: 1.3em;
    }
    pre {
        font-size: 93%;
        line-height: 1.4em;
    }
    code {
        font-size: 85%;
    }
    table code {
        font-size: 93%;
    }
    ol, ul {
        line-height: 1.2em;
        margin: 0.5em 1em 1em 1.5em;
    }
}
*/
.vc-adm-news-story table {
  border: 0; }
.vc-adm-news-story td {
  border: 0; }
  .vc-adm-news-story td:first-child {
    width: 15%;
    font-weight: bold; }
.vc-adm-news-story input[type="text"] {
  width: 100%; }
.vc-adm-news-story textarea {
  width: 100%;
  height: 100px; }

.vc-fp-news-meta {
  font-size: 77%;
  color: #aaa;
  margin-top: 5px; }

.vc-search-serp-filters {
  font-size: 93%; }
  .vc-search-serp-filters ul {
    margin-bottom: 1em;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0; }
  .vc-search-serp-filters li {
    list-style-type: none;
    margin-left: 0;
    font-size: 93%; }
    .vc-search-serp-filters li a {
      display: block;
      padding: 3px 6px 3px 6px;
      font-weight: bold; }
      .vc-search-serp-filters li a:hover {
        text-decoration: none;
        background-color: #f3f3f3; }
    .vc-search-serp-filters li.selected a {
      background-color: #f3f3f3; }
    .vc-search-serp-filters li span {
      float: right;
      color: #999;
      font-weight: normal; }
    .vc-search-serp-filters li.selected {
      font-weight: bold; }

.vc-article-bottombox {
  border: 0;
  width: 33%;
  border-left: 1px solid #e3e3e3 !important;
  padding-left: 20px; }

h1#vc-search-total {
  font-size: 173%;
  color: #999;
  font-weight: bold;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 8px; }

#vc-search-serp-sidebar {
  padding-right: 15px; }
  #vc-search-serp-sidebar h3 {
    color: #999;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 2px;
    padding-bottom: 2px;
    font-size: 116%;
    border-bottom: 1px solid #ddd; }

#vc-pager {
  margin: 15px 0 0 0;
  background-color: #ccc; }
  #vc-pager li {
    display: block;
    float: left;
    width: 20px;
    background-color: #fff;
    border: 1px solid #6c6c6c;
    text-align: center;
    padding: 2px 0;
    margin-right: 3px;
    margin-left: 2px;
    margin-bottom: 3px;
    font-weight: bold; }
    #vc-pager li.current {
      font-weight: bold;
      background-color: #3274D0;
      color: #fff;
      border: 1px solid #3274D0; }
      #vc-pager li.current:hover {
        font-weight: bold;
        background-color: #3274D0;
        color: #fff;
        border: 1px solid #3274D0; }
    #vc-pager li.infinity {
      background-color: #fff;
      border: 1px solid #fff; }
      #vc-pager li.infinity:hover {
        background-color: #fff;
        border: 1px solid #fff; }
    #vc-pager li:hover {
      background-color: #6c6c6c;
      border-color: #6c6c6c; }
      #vc-pager li:hover * {
        text-decoration: none;
        color: #fff; }
    #vc-pager li a {
      width: 100%;
      height: 100%;
      display: block;
      color: #444; }
  #vc-pager ul {
    padding: 0;
    margin: 0; }

#vc-demos-list {
  margin: 0;
  padding: 0; }
  #vc-demos-list li {
    width: 32%;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 8px;
    padding: 0;
    margin-bottom: 20px; }
    #vc-demos-list li img {
      border: 1px solid #ccc; }

.vc-demos-list-title {
  color: #777;
  font-size: 85%; }

.vc-article-header-authors {
  font-size: 108%; }

.vc-article-header-date {
  color: #777777;
  font-size: 85%; }

.vc-mail-thread {
  margin: 0; }
  .vc-mail-thread li {
    list-style-type: none;
    margin: 0; }

.vc-mail-msg {
  border-bottom: 1px solid #ccc; }

.vc-mail-msg-head {
  width: 120px;
  float: left;
  position: relative;
  padding-left: 30px;
  font-size: 85%;
  color: #777; }
  .vc-mail-msg-head img {
    border: 1px solid #ccc;
    padding: 3px;
    position: absolute;
    top: 0;
    left: 2px; }

.vc-mail-msg-body {
  padding-left: 130px; }
  .vc-mail-msg-body pre {
    font-size: 85%;
    line-height: 1.3;
    background-color: white; }

.vc-mail-msg-attachments {
  padding-left: 150px;
  padding-top: 10px; }
  .vc-mail-msg-attachments ul {
    margin-top: 5px; }
  .vc-mail-msg-attachments li {
    list-style-type: square; }

p.footer {
  display: none; }

/* For legacy ToC */
#toc .part > span {
  font-size: 123.1%;
  font-weight: bold; }

.vc-serp-hit-vespateam, .vc-vespateam, .vc-highlight {
  background-color: yellow;
  color: #000;
  padding: 0px 2px; }

#vc-release-tags ul {
  margin-left: 1em;
  margin-bottom: 1em;
  padding-bottom: 0; }
#vc-release-tags li {
  color: #777;
  font-size: 93%;
  list-style-type: disc; }

#vc-release-tags-all {
  font-size: 85%;
  margin-top: 0.4em;
  text-align: right; }

/*#vc-changelog li {
    list-style-type: disc;
    margin-bottom: 0.4em;
}*/
#vc-release-tags {
  margin-top: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0; }

#vc-serp-bar {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 1em; }

#vc-serp-bar-info {
  float: right;
  font-size: 85%;
  color: #444; }

#vc-serp-options h3 {
  display: none; }
#vc-serp-options ul {
  overflow: hidden;
  padding: 0;
  margin: 0; }
#vc-serp-options li {
  float: left;
  border-right: 1px solid #D9D9D9;
  list-style-type: none;
  margin-left: 0; }
#vc-serp-options span {
  display: block;
  height: 14px;
  width: 17px;
  background: url("/images/del_sprite_views.gif") 0 0 no-repeat; }
  #vc-serp-options span b {
    display: none; }
#vc-serp-options li span:hover {
  cursor: hand;
  cursor: pointer; }
#vc-serp-options li.small span {
  background-position: 0 0; }
  #vc-serp-options li.small span:hover {
    background-position: -60px 0; }
#vc-serp-options.TITLEONLY li.small span {
  background-position: -30px 0;
  cursor: default; }
#vc-serp-options li.med span {
  background-position: 0 -20px; }
  #vc-serp-options li.med span:hover {
    background-position: -60px -20px; }
#vc-serp-options.NOTHUMB li.med span {
  background-position: -30px -20px;
  cursor: default; }
#vc-serp-options li.large {
  border-right: none; }
  #vc-serp-options li.large span {
    background-position: 0 -40px; }
    #vc-serp-options li.large span:hover {
      background-position: -60px -40px; }
#vc-serp-options.FULL li.large span {
  background-position: -30px -40px;
  cursor: default; }

.vc-serp-table {
  border: 0;
  margin: 0;
  padding: 0; }
  .vc-serp-table tr, .vc-serp-table td {
    border: 0;
    margin: 0;
    padding: 0; }

.vc-serp-table-key {
  font-weight: bold;
  width: 15%; }

.vc-serp-table-val {
  width: 40%; }

.vc-serp-table {
  width: 585px;
  background-color: transparent;
  margin-top: 6px; }
  .vc-serp-table tr {
    border-top: 1px solid #f3f3f3; }
  .vc-serp-table td {
    padding: 1px 2px; }

.vc-apichange-item-title {
  font-weight: bold;
  font-size: 116%; }

.vc-apichange-item-desc {
  padding: 2px 0; }
  .vc-apichange-item-desc ul {
    margin: 0;
    padding: 0;
    margin-left: 1em; }

.vc-apichanges-item > li {
  list-style-type: none; }

.vc-apichange-item-url {
  color: #777;
  font-size: 85%; }

.vc-apichange-item-furtherinfo {
  padding-top: 0.8em;
  color: #575757;
  font-size: 85%; }
  .vc-apichange-item-furtherinfo h5 {
    margin: 0; }
  .vc-apichange-item-furtherinfo ul {
    margin-top: 0; }

#vc-apichanges h2 {
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid #eee; }

#vc-bd {
  clear: both;
  overflow: visible; }

#vc-source-list {
  overflow: hidden; }
  #vc-source-list li {
    width: 32%;
    float: left;
    list-style-position: inside; }

#vc-article-header a {
  text-decoration: none; }

/*
#vc-changelog {
    h2 {
        border-bottom: 1px solid #777;
    }
    h3 {
        padding-top: 5px;
    }
    dl {
        padding-left: 2em;
        padding-top: 5px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
*/
#majorchanges {
  font-size: 108%;
  margin-left: 0; }
  #majorchanges p {
    padding-bottom: 0;
    margin-bottom: 0; }
  #majorchanges > li {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    /* padding: 0.5em; */
    /* list-style-image: url('/images/checkmark.jpg'); */
    background: url("/images/checkmark.jpg") no-repeat left top;
    padding: 1px 0px 15px 40px;
    margin-left: 10px; }
    #majorchanges > li:first-child {
      padding-top: 0 !important; }
  #majorchanges .even {
    background-color: white; }

#releasePage h2 {
  border-bottom: 1px solid #000;
  margin-bottom: 0.4em; }

#summit {
  font-size: 16px;
  line-height: 24px;
  padding: 1.5em 4em;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-image: url("/images/summit.jpg");
  background-repeat: no-repeat;
  padding-top: 330px; }
  #summit h1 {
    font-size: 46px;
    line-height: 60px;
    margin-top: 20px;
    margin-bottom: 20px; }
  #summit h2 {
    background-color: #f3f3f3;
    padding: 5px 10px;
    margin-top: 50px; }
  #summit .ingress {
    font-size: 22px;
    line-height: 28px;
    color: #575757; }

table.param-summary tr td:first-child {
  width: 120px; }
