*.So
*.core
.*.swp
.config.log
.depend
Makefile
cpp-globalids.txt
indexdir
mmapbuffertestfile.txt
mmapq_test
mytestfile
mytestfile_clear
test.vlog
testrunner
*_test
document_gtest_runner_app
document_testrunner_app
/serializecppsplit_body.dat
