#!/usr/bin/env bash

function motd {

    local -r uptime=$(uptime | cut -f 3- -d ' ')

    local -r no_color='\e[0m'
    local -r green='\e[0;32m'
## Use red zone name for main prod zones, yellow for other main zones and no colour for cd and dev zones.
    local -r alert=#if($zone.getSystem() == "main")#if($zone.getEnvironment() == "prod")'\e[0;91m'#else'\e[0;33m'#end#else$green#end


    echo -e "
${green}Zone          : ${alert}$zone.getSystem().toUpperCase() $zone.getEnvironment().toUpperCase() $zone.getRegion().toUpperCase()
${green}Node type     : ${no_color}$node.nodeType
${green}Host name     : ${no_color}$(hostname)
${green}Uptime        : ${no_color}$uptime
${green}Version       : ${no_color}wanted=$node.wantedVespaVersion.orElse("unknown") installed=$node.vespaVersion.orElse("unknown")
#if($node.owner.isPresent())
${green}Node state    : ${no_color}$node.nodeState
${green}Owner         : ${no_color}$node.owner.get().tenant $node.owner.get().application $node.owner.get().instance
#end
"
}

# Display motd (gently)
[ ! -f ~/.hushlogin ] && motd
