*.gcda
*.gcno
**/.project
**/.settings
**/.classpath
*~
pom.xml.build
*.o
*.So
*.dSYM/
*.dylib
lib*.a
lib*.so
/jdisc_gds_service
/build
\#*
*.iml
*.idea
*.ideaclion
out/
target/
test-report.json
/zorg.log
*-PREINST.log
*-PREINST/
*-HEAD.log
*-HEAD/
*-YINST.log
*-YINST/
.mbuild.Makefile
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
Makefile
Testing
/.cmake/
/.mvn/
/.ninja_deps
/.ninja_log
/build.ninja
/rules.ninja
*_test_app
/cmake-build-debug/
/mvnw
/mvnw.cmd
/mvnwDebug
/mvnwDebug.cmd
.preprocessed/
.DS_Store
install_manifest.txt
*.cbp
!/.copr/Makefile
