*.So
*.a
*.ilk
*.o
*.pdb
.cvsignore
.depend
.pure
Debug
Makefile
SunWS_cache
bufferedfiletest
bufferedstreamtest
bufferedstreamtest.tmp
datastreamtest
datastreamtestfile.tmp
linenumberinputstreamtest
outputfile.txt
pushbackinputstreamtest
streampumptest
stringinputstreamtest
fastlib_bufferedfiletest_app
fastlib_bufferedstreamtest_app
