/test-report.html
/test-report.html.bottom
/test-report.html.entry
/test-report.html.summary
/test-report.html.top
test.*.*.desc
test.*.*.file.*
test.*.*.files.html
test.*.*.log
tmp.*
/test.*.*.result
/Makefile
