/Makefile
/backtracetest
/backtracetest.log
/filetest
/filetest.log
/processtest
/processtest.log
/sockettest
/sockettest.log
/threadtest
/threadtest.log
/timetest
/timetest.log
/typetest
/typetest.log
/usecputest
*test_app
