*.cfg
*.core
*.ilk
*.out
*.pdb
*.pid
.depend
Makefile
core
core.*
datapart.*
docsum-index
docsum-pack
docsum-parse
index.cf
merged
meta-info.txt
schema.txt
summary.cf
version.txt
searchsummary_docsum-pack_app
