/.depend
/*.class
/Makefile
/casingvariants_fastlib
/casingvariants_vespalib
/out.*
/diff.*
/letters.java*
/curr-*
lowercasing_test_casingvariants_fastlib_app
lowercasing_test_casingvariants_vespalib_app
