
html, body {
    font: 1em monospace;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 110px;
    background: #fff;
}

#header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    background: #eee;
    border-bottom: 1px solid #aaa;
    box-shadow: 5px 5px 5px #eee;
}

#header-global-commands {
    display: block;
    margin: auto;
    width: 1000px;
    padding: 10px;
}

#header-cell-commands {
    display: block;
    margin: auto;
    padding: 10px;
    width: 1000px;
    text-align: center;
}


#content {
    /*
    display: block;
    margin: auto;
    padding: 10px;
    padding-top: 100px;
    width: 900px;
    padding-top: 110px;
    */
    background: #fff;
}

#footer {
    margin-top: 50px;
    text-align: center;
    border-top: 1px solid #aaa;
}

#setup-container {
    width: 1000px;
    margin: 10px auto;
}

#setup-container > textarea {
    border-radius: 4px;
    border: 1px solid #bbb;
}

#frame-label {
    width: 10em;
    text-align: left;
}

.block {
    display: inline-block;
}

.right {
    float: right;
}

.left {
    float: left;
}

.frame {
    border-radius: 4px;
    border: 1px solid #bbb;
    width: 1000px;
    margin: 10px auto;
}

.frame > .frame-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #aaa;
    margin: 0px;
    background: #eee;
    text-align: left;
    font-size: 0.9em;
    padding: 2px 10px;
}

.frame > .frame-content {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px 10px;
    background: #fff;
    margin: 0px;
}

.selected {
    border: 1px solid blue;
    box-shadow: 5px 5px 5px #eee;
}

.error {
    color: red;
}

hr {
    border-top: 1px solid #ccc;
}

p {
    margin: 0.5em 0em 0.5em 0em;
}

input {
    font: 0.75em courier;
}


button {
    background-color: #fff;
    border: 1px solid #888;
    color: #333;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 0.75em courier;
    box-shadow: 2px 2px 2px #aaa;
    border-radius: 0px;
}

button:disabled {
    color: #ddd;
    box-shadow: 0px 0px 0px #aaa;
    border: 1px solid #ddd;
}

textarea {
    font: 0.75em courier;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

table {
    margin: 0px;
    /*font-size: 12px;*/
}

td {
    padding: 5px;
    vertical-align: middle;
    text-align: left;
}

td.header {
    border-bottom: 1px solid #aaa;
}

td.actions {
    border: 1px solid #bbb;
    background: #eee;
    text-align: center;
    border-radius: 4px;
}

td.data {
    padding: 5px;
    border: 1px solid black;
}

.hidden {
    display: none;
}
