.classpath
.project
.settings
/.cache
/.classpath
/.emacs.desktop
/.nbintdb
/.project
/.settings
/.version
/QueryAccessLog*
/accessLog.log
/build
/bundles
/libexec
/nbproject
/pom.xml.build
/prelude.iml
/prelude.ipr
/prelude.iws
/staging
/target
/temp
/testLogFileG.txt
/testLogs
/test_yapache_access_log
/testlogsG
/tmp
null.log
tmp
