*.log
*Suite
*Test
*suite
*test
.depend
Makefile
dummylib
semantic.cache
juniper_appender_test_app
juniper_queryvisitor_test_app
juniper_SrcTestSuite_app
juniper_auxTest_app
juniper_matchobjectTest_app
juniper_mcandTest_app
juniper_queryparserTest_app
juniper_latintokenizertest_app
