/test-report.html
/test-report.html.bottom
/test-report.html.entry
/test-report.html.summary
/test-report.html.top
/test.1.cppunit.desc.file.txt
/test.1.cppunit.files.html
/test.1.cppunit.log.file.txt
/test.2.dirconfig.desc.file.txt
/test.2.dirconfig.file.dirconfigtest.cpp.txt
/test.2.dirconfig.files.html
/test.2.dirconfig.log.file.txt
/tmp.cppunit-time
/tmp.cppunit.log-control
/tmp.dirconfig-time
/tmp.dirconfig.log-control
/tmp.end-time
/tmp.start-time
/test.*.*.result
