/test-report.html
/test-report.html.bottom
/test-report.html.entry
/test-report.html.summary
/test-report.html.top
/test.1.plugin.desc.file.txt
/test.1.plugin.file.plugin_test.cpp.txt
/test.1.plugin.files.html
/test.1.plugin.log.file.txt
/tmp.end-time
/tmp.plugin-time
/tmp.plugin.log-control
/tmp.start-time
/test.*.*.result
/Makefile
