.depend
Makefile
echo_client
echo_server
rpc_callback_client
rpc_callback_server
rpc_client
rpc_server
fnet_echo_client_app
fnet_rpc_callback_client_app
fnet_rpc_callback_server_app
fnet_rpc_client_app
fnet_rpc_server_app
vespa-rpc-info
vespa-rpc-invoke-bin
vespa-rpc-proxy
vespa-rpc-invoke
