<XTEMPLATEHIT RELEVANCY="$relevancy" SOURCE="$hit.source" TYPE="$hit.typeString" OFFSET="$hitno">
<FIELD NAME="uri">$uri</FIELD>
<FIELD NAME="category">$category</FIELD>
<FIELD NAME="bsumtitle">$bsumtitle</FIELD>
</XTEMPLATEHIT>
