*.So
*.a
*.ilk
*.lib
*.o
*.obj
*.pdb
.cvsignore
.depend
.pure
Debug
Makefile
SunWS_cache
alpharanktest
latintokenizertest
limitstrtest
list.html
map.html
unicodeutiltest
wordfolderstest
fastlib_latintokenizertest_app
fastlib_unicodeutiltest_app
fastlib_wordfolderstest_app
