# Configuration for telegraf agent
[agent]
  interval = "${intervalSeconds}s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "${intervalSeconds}s"
  flush_jitter = "0s"
  precision = ""
  logtarget = "file"
  logfile = "$logFilePath"
  logfile_rotation_interval = "1d"
  logfile_rotation_max_size = "20MB"
  logfile_rotation_max_archives = 5

#foreach( $cloudwatch in $cloudwatchPlugins )
# Configuration for AWS CloudWatch output.
[[outputs.cloudwatch]]
  region = "$cloudwatch.region()"
  namespace = "$cloudwatch.namespace()"
#if( $cloudwatch.accessKeyName() != "" )
  access_key = "$cloudwatch.accessKeyName()"
  secret_key = "$cloudwatch.secretKeyName()"
#elseif( $cloudwatch.profile() != "" )
  profile = "$cloudwatch.profile()"
#end
  tagexclude = ["vespa_consumer"]
  [outputs.cloudwatch.tagpass]
    vespa_consumer = ["$cloudwatch.consumer()"]

# Configuration for Vespa input plugin
[[inputs.vespa]]
  url = "http://localhost:19092/metrics/v2/values?consumer=$cloudwatch.consumer()"
  [inputs.vespa.tags]
    vespa_consumer = "$cloudwatch.consumer()"
#* TODO: Add node cert if hosted
#if( $isHosted )
  tls_cert = "${VESPA_CERTIFICATE_PATH}"
  tls_key = "${VESPA_KEY_PATH}"
  insecure_skip_verify = true
#end
*###
#end