ERROR ------------------------------------------------------------------
  result.error.code    = '$result.error.code'
  result.error.message = '$result.error.message'
------------------------------------------------------------------------
