HEADER -----------------------------------------------------------------
result.hitCount                   = '$result.hitCount'
result.query                      = '$result.query'
result.query.path                 = '$result.query.path'
result.query.rawQuery             = '$result.query.rawQuery'
result.query.rawQueryHTMLEncoded  = '$result.query.rawQueryHTMLEncoded'
result.query.rawQueryURLEncoded   = '$result.query.rawQueryURLEncoded'
result.query.hits                 = '$result.query.hits'
result.query.queryType            = '$result.query.queryType'
result.firstHitNo                 = '$result.firstHitNo'
result.totalHitCount              = '$result.totalHitCount'
result.totalSearchTime            = '$result.totalSearchTime'
result.prevFirstHitNo             = '$result.prevFirstHitNo'
result.prevLastHitNo              = '$result.prevLastHitNo'
result.nextResultURL              = '$result.nextResultURL'
result.previousResultURL          = '$result.previousResultURL'
------------------------------------------------------------------------
