*.o
*.lo
.depend.NEW
.depend
.deps
.libs
.config.log
Makefile
testrunner
vdsroot
*.core
state
*.So
test.vlog
dirconfig.tmp
.*.swp
metricsreport.html
piefile.html
piefile-customcols.html
palette.html
use_new_storage_core
storage_gtest_runner_app
storage_testrunner_app
