<tbody>
<tr>
    <td
            align="left"
            style="
                            font-size: 0px;
                            padding: 0px 25px 0px 25px;
                            padding-top: 0px;
                            padding-right: 50px;
                            padding-bottom: 0px;
                            padding-left: 50px;
                            word-break: break-word;
                          "
    >
        <div
                style="
                              font-family: Open Sans, Helvetica, Arial,
                                sans-serif;
                              font-size: 13px;
                              line-height: 22px;
                              text-align: left;
                              color: #797e82;
                            "
        >
            <h1
                    style="
                                text-align: center;
                                color: #000000;
                                line-height: 32px;
                              "
            >
                $esc.html($mailTitle)
            </h1>
        </div>
    </td>
</tr>
<tr>
    <td
            align="left"
            style="
                            font-size: 0px;
                            padding: 0px 25px 0px 25px;
                            padding-top: 0px;
                            padding-right: 50px;
                            padding-bottom: 0px;
                            padding-left: 50px;
                            word-break: break-word;
                          "
    >
        <div
                style="
                              font-family: Open Sans, Helvetica, Arial,
                                sans-serif;
                              font-size: 13px;
                              line-height: 22px;
                              text-align: left;
                              color: #797e82;
                            "
        >

            #parse($mailMessageTemplate)

        </div>
    </td>
</tr>
<tr>
    <td
            align="center"
            vertical-align="middle"
            style="
                            font-size: 0px;
                            padding: 10px 25px;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            word-break: break-word;
                          "
    >
        <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                role="presentation"
                style="border-collapse: separate; line-height: 100%"
        >
            <tbody>
            <tr>
                <td
                        align="center"
                        bgcolor="#005A8E"
                        role="presentation"
                        style="
                                    border: none;
                                    border-radius: 100px;
                                    cursor: auto;
                                    mso-padding-alt: 15px 25px 15px 25px;
                                    background: #005a8e;
                                  "
                        valign="middle"
                >
                    <a
                            href="$consoleLink"
                            style="
                                      display: inline-block;
                                      background: #005a8e;
                                      color: #ffffff;
                                      font-family: Open Sans, Helvetica, Arial,
                                        sans-serif;
                                      font-size: 13px;
                                      font-weight: normal;
                                      line-height: 120%;
                                      margin: 0;
                                      text-decoration: none;
                                      text-transform: none;
                                      padding: 15px 25px 15px 25px;
                                      mso-padding-alt: 0px;
                                      border-radius: 100px;
                                    "
                            target="_blank"
                    ><b style="font-weight: 700"
                    ><b style="font-weight: 700"
                    >Go to Console</b
                    ></b
                    ></a
                    >
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
</tbody>