<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ site.title | escape }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" media="all" href="{{ site.github.url }}/css/mathquill.css" />
    <link type="text/css" rel="stylesheet" media="print" href="{{ site.github.url }}/css/print.css" />
</head>
<body>

<!-- Header -->
<div class="menupartial">
<div class="row" style="background-color:#4040b0; color:#88d;">
<div class="col-md-10 col-md-offset-1">
<h1><a href="http://yahoo.github.io/vespa/">Vespa</a> documentation</h1>
<p class="lead">The open big data serving engine</p>
</a>
</div>
</div>

<!-- Content -->
<div class="container">
<div class="row">
<div class="col-md-12">

<h1>{{ page.title | escape }}</h1>

{{ content }}

</div>
</div>
</div>

</body>
</html>
