*.So
*.core
*.exe
*.ilk
*.pdb
.depend
.depend.NEW
Debug
Makefile
Makefile.factory
Makefile.overrides
Makefile.pre
Release
autoconf.h
config_command.bat
config_command.sh
fastconfig
fastconfig.exe
fastos.lib
fastosconfig.h
libfastos.a
makefeatures
makemake
processtest.log
test.txt
vc60.idb
vc60.pdb
/libfastos.so.5.1
